In [50]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [51]:
df=pd.read_csv('/content/sample_data/chronickidneydisease.csv')

In [52]:
df

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,0,48.0,80.0,1.020,1.0,0.0,NaN,normal,notpresent,notpresent,...,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,1,7.0,50.0,1.020,4.0,0.0,NaN,normal,notpresent,notpresent,...,38,6000,NaN,no,no,no,good,no,no,ckd
2,2,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,notpresent,...,31,7500,NaN,no,yes,no,poor,no,yes,ckd
3,3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,4,51.0,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,...,35,7300,4.6,no,no,no,good,no,no,ckd
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,395,55.0,80.0,1.020,0.0,0.0,normal,normal,notpresent,notpresent,...,47,6700,4.9,no,no,no,good,no,no,notckd
396,396,42.0,70.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,...,54,7800,6.2,no,no,no,good,no,no,notckd
397,397,12.0,80.0,1.020,0.0,0.0,normal,normal,notpresent,notpresent,...,49,6600,5.4,no,no,no,good,no,no,notckd
398,398,17.0,60.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,...,51,7200,5.9,no,no,no,good,no,no,notckd
399,399,58.0,80.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,...,53,6800,6.1,no,no,no,good,no,no,notckd

In [53]:
df.drop(columns='id',axis=1)

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,48.0,80.0,1.020,1.0,0.0,NaN,normal,notpresent,notpresent,121.0,...,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,7.0,50.0,1.020,4.0,0.0,NaN,normal,notpresent,notpresent,NaN,...,38,6000,NaN,no,no,no,good,no,no,ckd
2,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,notpresent,423.0,...,31,7500,NaN,no,yes,no,poor,no,yes,ckd
3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,117.0,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,51.0,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,106.0,...,35,7300,4.6,no,no,no,good,no,no,ckd
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,55.0,80.0,1.020,0.0,0.0,normal,normal,notpresent,notpresent,140.0,...,47,6700,4.9,no,no,no,good,no,no,notckd
396,42.0,70.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,75.0,...,54,7800,6.2,no,no,no,good,no,no,notckd
397,12.0,80.0,1.020,0.0,0.0,normal,normal,notpresent,notpresent,100.0,...,49,6600,5.4,no,no,no,good,no,no,notckd
398,17.0,60.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,114.0,...,51,7200,5.9,no,no,no,good,no,no,notckd
399,58.0,80.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,131.0,...,53,6800,6.1,no,no,no,good,no,no,notckd

In [54]:
df.shape

(400, 26)

###**KNOWING THE DATATYPE OF COLUMNS**

In [55]:
df.dtypes

id                  int64
age               float64
bp                float64
sg                float64
al                float64
su                float64
rbc                object
pc                 object
pcc                object
ba                 object
bgr               float64
bu                float64
sc                float64
sod               float64
pot               float64
hemo              float64
pcv                object
wc                 object
rc                 object
htn                object
dm                 object
cad                object
appet              object
pe                 object
ane                object
classification     object
dtype: object

In [56]:
df.drop('id',axis=1,inplace=True)

In [57]:
df['pcv']=pd.to_numeric(df['pcv'],errors='coerce')
df['wc']=pd.to_numeric(df['wc'],errors='coerce')
df['rc']=pd.to_numeric(df['rc'],errors='coerce')

### **CHECKING AGAIN THE DATATYPES**

In [58]:
df.dtypes

age               float64
bp                float64
sg                float64
al                float64
su                float64
rbc                object
pc                 object
pcc                object
ba                 object
bgr               float64
bu                float64
sc                float64
sod               float64
pot               float64
hemo              float64
pcv               float64
wc                float64
rc                float64
htn                object
dm                 object
cad                object
appet              object
pe                 object
ane                object
classification     object
dtype: object

### **DATA PRE-PROCESSING**

In [59]:
df.isnull().sum()

age                 9
bp                 12
sg                 47
al                 46
su                 49
rbc               152
pc                 65
pcc                 4
ba                  4
bgr                44
bu                 19
sc                 17
sod                87
pot                88
hemo               52
pcv                71
wc                106
rc                131
htn                 2
dm                  2
cad                 2
appet               1
pe                  1
ane                 1
classification      0
dtype: int64

### **FILLING NULL VALUES**

####**FILLING THE NUMERICAL COLUMN WITH THEIR MEAN**

In [60]:
#Filling the numerical column with their mean
df['bp'].fillna(df['bp'].mean(),inplace=True)
df['sg'].fillna(df['sg'].mean(),inplace=True)
df['al'].fillna(df['al'].mean(),inplace=True)
df['su'].fillna(df['su'].mean(),inplace=True)
df['bgr'].fillna(df['bgr'].mean(),inplace=True)
df['bu'].fillna(df['bu'].mean(),inplace=True)
df['sc'].fillna(df['sc'].mean(),inplace=True)
df['sod'].fillna(df['sod'].mean(),inplace=True)
df['pot'].fillna(df['pot'].mean(),inplace=True)
df['hemo'].fillna(df['hemo'].mean(),inplace=True)
df['hemo'].fillna(df['hemo'].mean(),inplace=True)
df['hemo'].fillna(df['hemo'].mean(),inplace=True)
df['pcv'].fillna(df['pcv'].mean(),inplace=True)
df['wc'].fillna(df['wc'].mean(),inplace=True)
df['rc'].fillna(df['rc'].mean(),inplace=True)

In [61]:
df = df[df['age'].notna()]

In [62]:
df['age'].isnull().sum()

0

In [63]:
df.shape

(391, 25)

####**FILLING THE CATEGORICAL COLUMN WITH THEIR MOST OCCURRING CLASS**

In [64]:
df = df.apply(lambda x: x.fillna(x.value_counts().index[0]))

In [65]:
df.isnull().sum()

age               0
bp                0
sg                0
al                0
su                0
rbc               0
pc                0
pcc               0
ba                0
bgr               0
bu                0
sc                0
sod               0
pot               0
hemo              0
pcv               0
wc                0
rc                0
htn               0
dm                0
cad               0
appet             0
pe                0
ane               0
classification    0
dtype: int64

In [66]:
categorical_columns=[]
for col in df.columns:
        if df[col].dtype=='object':
            categorical_columns.append(col)

In [67]:
for i in categorical_columns:
  print('{} values :{}'.format(i,df[i].unique()))

rbc values :['normal' 'abnormal']
pc values :['normal' 'abnormal']
pcc values :['notpresent' 'present']
ba values :['notpresent' 'present']
htn values :['yes' 'no']
dm values :['yes' 'no' '\tno' '\tyes']
cad values :['no' 'yes' '\tno']
appet values :['good' 'poor']
pe values :['no' 'yes']
ane values :['no' 'yes']
classification values :['ckd' 'ckd\t' 'notckd']

### **REMOVING \t in CATEGORICAL COLUMNS**

In [68]:
df['dm'] = df['dm'].replace(r'\t',' ', regex=True)
df['dm'] = df['dm'].str.strip()
df['cad'] = df['cad'].replace(r'\t',' ', regex=True)
df['cad'] = df['cad'].str.strip()
df['classification'] = df['classification'].replace(r'\t',' ', regex=True)
df['classification'] = df['classification'].str.strip()

### **VIEWING THE CATEGORICAL COLUMN VALUES AFTER TRIMMING AND REMOVING '\t'**

In [69]:
for i in categorical_columns:
  print('{} values :{}'.format(i,df[i].unique()))

rbc values :['normal' 'abnormal']
pc values :['normal' 'abnormal']
pcc values :['notpresent' 'present']
ba values :['notpresent' 'present']
htn values :['yes' 'no']
dm values :['yes' 'no']
cad values :['no' 'yes']
appet values :['good' 'poor']
pe values :['no' 'yes']
ane values :['no' 'yes']
classification values :['ckd' 'notckd']

### **LABEL ENCODING**

In [70]:
df

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,48.0,80.0,1.020,1.0,0.0,normal,normal,notpresent,notpresent,121.000000,...,44.0,7800.0,5.200000,yes,yes,no,good,no,no,ckd
1,7.0,50.0,1.020,4.0,0.0,normal,normal,notpresent,notpresent,148.036517,...,38.0,6000.0,4.707435,no,no,no,good,no,no,ckd
2,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,notpresent,423.000000,...,31.0,7500.0,4.707435,no,yes,no,poor,no,yes,ckd
3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,117.000000,...,32.0,6700.0,3.900000,yes,no,no,poor,yes,yes,ckd
4,51.0,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,106.000000,...,35.0,7300.0,4.600000,no,no,no,good,no,no,ckd
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,55.0,80.0,1.020,0.0,0.0,normal,normal,notpresent,notpresent,140.000000,...,47.0,6700.0,4.900000,no,no,no,good,no,no,notckd
396,42.0,70.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,75.000000,...,54.0,7800.0,6.200000,no,no,no,good,no,no,notckd
397,12.0,80.0,1.020,0.0,0.0,normal,normal,notpresent,notpresent,100.000000,...,49.0,6600.0,5.400000,no,no,no,good,no,no,notckd
398,17.0,60.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,114.000000,...,51.0,7200.0,5.900000,no,no,no,good,no,no,notckd
399,58.0,80.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,131.000000,...,53.0,6800.0,6.100000,no,no,no,good,no,no,notckd

In [71]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
df[['rbc','pc','pcc','ba','htn','dm','cad','appet','pe','ane','classification']] = df[['rbc','pc','pcc','ba','htn','dm','cad','appet','pe','ane','classification']].apply(le.fit_transform)

In [72]:
df

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,48.0,80.0,1.020,1.0,0.0,1,1,0,0,121.000000,...,44.0,7800.0,5.200000,1,1,0,0,0,0,0
1,7.0,50.0,1.020,4.0,0.0,1,1,0,0,148.036517,...,38.0,6000.0,4.707435,0,0,0,0,0,0,0
2,62.0,80.0,1.010,2.0,3.0,1,1,0,0,423.000000,...,31.0,7500.0,4.707435,0,1,0,1,0,1,0
3,48.0,70.0,1.005,4.0,0.0,1,0,1,0,117.000000,...,32.0,6700.0,3.900000,1,0,0,1,1,1,0
4,51.0,80.0,1.010,2.0,0.0,1,1,0,0,106.000000,...,35.0,7300.0,4.600000,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,55.0,80.0,1.020,0.0,0.0,1,1,0,0,140.000000,...,47.0,6700.0,4.900000,0,0,0,0,0,0,1
396,42.0,70.0,1.025,0.0,0.0,1,1,0,0,75.000000,...,54.0,7800.0,6.200000,0,0,0,0,0,0,1
397,12.0,80.0,1.020,0.0,0.0,1,1,0,0,100.000000,...,49.0,6600.0,5.400000,0,0,0,0,0,0,1
398,17.0,60.0,1.025,0.0,0.0,1,1,0,0,114.000000,...,51.0,7200.0,5.900000,0,0,0,0,0,0,1
399,58.0,80.0,1.025,0.0,0.0,1,1,0,0,131.000000,...,53.0,6800.0,6.100000,0,0,0,0,0,0,1

In [73]:
df.dtypes

age               float64
bp                float64
sg                float64
al                float64
su                float64
rbc                 int64
pc                  int64
pcc                 int64
ba                  int64
bgr               float64
bu                float64
sc                float64
sod               float64
pot               float64
hemo              float64
pcv               float64
wc                float64
rc                float64
htn                 int64
dm                  int64
cad                 int64
appet               int64
pe                  int64
ane                 int64
classification      int64
dtype: object